exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "dev.off", "png")
export(setAccount)
export(cleanFetchedTweet)
export(getAnalysis)
export(getBarSentiment)
export(getCloudSentiment)
export(minPageLimit)
export(nextTweetFetcher)
export(packager)
export(packages)
export(tweetFetcher)
export(version)
